.profile{
    background-color: violet;
    margin-top: 16px;
    margin-left: 10px;
    width: 21%;
    height:250px;
    /* position: relative; */
    float:left;  
}
.description{
    background-color: teal;
    width:75%;
    height: 180px;
    position: relative;
    margin-left: 300px;
    margin-top: 0px;
    padding-top: 0px;
    
}
.rd{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: tomato;
}
.action{
    position: relative;
    width: 75%;
    height:80px;
    background-color: yellowgreen;
    margin-left: 300px;
}