<!-- header started -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sample Components
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="dummyOne">One</a>
                <a class="dropdown-item" routerLink="dummyTwo">Two</a>
                <a class="dropdown-item" routerLink="stack">Stack</a> 
                <a class="dropdown-item" routerLink="reviewContainer">Review</a>
                <a class="dropdown-item" routerLink="allDirectives">Directives</a>
                <a class="dropdown-item" routerLink="ngFor">NgFor Directive</a>
                <a class="dropdown-item" routerLink="todo">ToDo</a>
                <a class="dropdown-item" routerLink="allpipes">All Pipes</a>
                <a class="dropdown-item" routerLink="allform">Forms</a>
                <a class="dropdown-item" routerLink="consumeone">Consume One</a>
                <a class="dropdown-item" routerLink="consumetwo">Consume Two</a>
                <a class="dropdown-item" routerLink="remote">Remote</a>
                <a class="dropdown-item" routerLink="consumefakerest">Fake Rest Api</a>
                <a class="dropdown-item" routerLink="eventbinding">Event Binding</a>
                <a class="dropdown-item" routerLink="animation">Text Effect</a>
            </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<!-- header ended -->
<br>
<br>
<a routerLink="dummyOne">One</a>&nbsp;&nbsp;
<a routerLink="dummyTwo">Two</a>&nbsp;&nbsp;
<a routerLink="stack">Stack</a>&nbsp;&nbsp; 
<a routerLink="reviewContainer">Review</a>&nbsp;&nbsp; 
<a routerLink="allDirectives">Directives</a>&nbsp;&nbsp;
<a routerLink="ngFor">NgFor Directive</a>&nbsp;&nbsp;
<a routerLink="todo">ToDo</a>&nbsp;&nbsp;
<a routerLink="allpipes">All Pipes</a>&nbsp;&nbsp;
<a routerLink="allform">Forms</a>&nbsp;&nbsp;
<a routerLink="consumeone">Consume One</a>&nbsp;&nbsp;
<a routerLink="consumetwo">Consume Two</a>&nbsp;&nbsp;
<a routerLink="remote">Remote</a>&nbsp;&nbsp;
<a routerLink="consumefakerest">Fake Rest Api</a>&nbsp;&nbsp;
<a routerLink="eventbinding">Event Binding</a>&nbsp;&nbsp;
<a routerLink="animation">Text Effect</a>&nbsp;&nbsp;



<router-outlet></router-outlet>